.container {
  background-color: #7e5ee6;
  padding: 1rem;
  margin: 2rem auto;
  width: 69rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.container .h2 {
  color: white;
  font-size: 2.1rem;
  text-align: center;
}
